<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lab03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410236AF1A9440E290A3FB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7269D632536243BD83E96321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE3BAB7D0734B37AF99186D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF9DAD3076745CA91DCDFDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A86539080F3A43028F05C96F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C79C445CC35840EF8E3F6F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
