<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lab00.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E74B3797D5C4E9B8B7C5317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4A1334FC5846B3AB145CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8798D397F6354CF0A3AF0D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E4533C8F1E477D9D89246D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E065F03E164FF5A2C63F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2BB596267F74F8A97678A84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
