<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lab04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>126EC1DED41C464FBBB7E76F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C281F524468496E96E91DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD77F0D37F6845C4AFE9A2EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2BFCD5C527548B2B55A61EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E89B1F465D3F489AAFB84B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4E430E7F7754BAC819CCB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
