<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lab01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14FC81C2BFE24C11A80E589A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161B6E0DDF134572A1B0954D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>399753092D7C4349ABE10960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>810981C3B2594837B0D2D856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7CD60A92FA94DB789D7EAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAEBBE0D7B6B40D48C08C9FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
